@import url('https://fonts.googleapis.com/css2?family=Sansita:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --background: snow;
  --text: #454545;
  --link: #E00078;
  --space: 2em;
  --gap: 24px;
}

/* GLOBAL RESET */

*, *::before, *::after {
  box-sizing: border-box;
}

/* GLOBAL STYLES */

html {
  scroll-behavior: smooth;
}

body {
  /* padding: 2em; */
  margin: 0 auto;
  background-color: var(--background);
  color: var(--text);
  font-family: "Nunito", sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
}

/* HEADINGS */

h1 {
  font-family: "Sansita", sans-serif;
  font-size: clamp(3em, 8vw, 4.5em);
  line-height: 0.9;
  font-weight: 800;
  font-style: italic;
  color: snow;
  padding-bottom: 0.2em;
  filter: drop-shadow(-2px 4px 0px rgba(0128, 0, 128, 0.5));
}

h2 {
  font-size: 1.25em;
  font-weight: 300;
  color: snow;
  line-height: 1.25;
  padding-bottom: 10px;
}

h3
{
  font-size: 1.25em;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 0 20px 0;
}

h4 {
  font-family: "Sansita", sans-serif;
  font-size: 1.65em;
  font-weight: 600;
  font-style: italic;
  color: var(--link);
  padding-bottom: 10px;
}

h5 {
  font-size: 1.15em;
  font-weight: 700;
  color: var(--link);
}

/* TYPOGRAPHY & IMAGES */

p {
  padding-bottom: var(--space);
  line-height: 1.5;
}

img {
  display: block;
  width: 100%;
  border-radius: 20px;
}

/* LINKS */

a {
  color: inherit;
  text-underline-offset: 4px;
  text-decoration-color: var(--link);
  text-decoration-thickness: 1px;
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

a:hover {
  transform: scale(1.025);
  text-decoration: none;
}

a.superbutton {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 8px;
  text-align: center;
  border: 1px solid var(--link);
  border-radius: 20px;
  color: var(--link);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

a.superbutton:hover {
  transform: scale(1.01);
}

/* LAYOUT */

header,
main,
footer,
section {
  padding-bottom: var(--space);
}

header
{
  background-color: #E00078;
  padding: 60px 60px 30px 60px;
}

main
{
padding: 60px;
}

section {
  padding-bottom: 40px;
}

footer
{
  padding: 60px;

}

/* CONTACT SECTION */

section#contact {
  font-size: 20px;
  text-align: right;
  filter: drop-shadow(-2px 4px 0px rgba(0128, 0, 128, 0.5));
}

section#contact a {
  background-color: snow;
  color: var(--link);
  padding: 10px 16px;
  border-radius: 12px;
  margin: 10px 2px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

section#contact a:hover {
background-color: Purple;
  text-decoration: none;
  color: snow;
}

/* GRID SECTIONS */

section.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--gap);
}

section.grid figcaption {
  font-size: 0.9em;
  line-height: 1.2;
}

section.grid a {
  text-decoration: none;
}

section.grid h4 {
  grid-column: 1 / -1;
  padding: 0;
}

/* FEATURED SECTIONS */

section.featured img {
  padding-bottom: 20px;
}

section.featured a:hover {
  transform: scale(1.01);
}

/* BIG SECTIONS */

main section.big {
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

main section.big figcaption,
main section.big a {
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
  line-height: 1.2;
}

/* TESTIMONIAL */

section.testimonial {
  padding: 60px;
  background-color: #FFC7D2;
  color: #B3005F;
  border-radius: 26px;
  margin-bottom: 40px;
}

section.testimonial cite {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
}

section.testimonial cite::before {
  content: "- ";
}

/* MEDIA QUERIES */

@media (max-width: 505px) {
  section#contact {
    text-align: center;
  }
  section#contact a {
    width: 100%;
  }
}



figure img
{
  padding: 0 0 10px 0;
}